:root{
    --couleur : gray;
    --background : black;
    --backgroundCard : grey;
}

@font-face {
    font-family: Quicksand;
    src: url(../Quicksand/Quicksand-VariableFont_wght.ttf);
}

h1{
    color: var(--couleur);
    font-size: 80pt;
    font-weight: 100;
    font-family: Quicksand, helvetica;
}

h3, h4{
    color: var(--couleur);
    font-size: 30pt;
    font-weight: 50;
    font-family: Quicksand, helvetica;
}

h5{
    color: var(--couleur);
    font-size: 33pt;
    font-weight: 50;
    font-family: Quicksand, helvetica;

}

body{
    background-color: var(--background);
}

.card{
    background-color: var(--background);
    border-color: var(--backgroundCard);
    border: none;
}

.card div{
    border : 1px solid var(--couleur);
}

.bgPerso{
    color: var(--couleur);
    background-color: var(--backgroundCouleur);
}

#mode, #mode2{
    color: var(--couleur);
    visibility: visible;
}

button{
    visibility: hidden;
    color: var(--backgroundCard);
}