:root{
    --couleur : gray;
    --background : black;
    --backgroundCard : grey;
}

@font-face {
    font-family: Quicksand;
    src: url(../Quicksand/Quicksand-VariableFont_wght.ttf);
}


#heure{
    color: var(--couleur);
    font-size: 60pt;
    font-weight: 50;
    font-family: Quicksand, helvetica;
}
h2{
    color: var(--couleur);
    font-family: Quicksand, helvetica;
}

h3, h4{
    color: var(--couleur);
    font-size: 30pt;
    font-weight: 50;
    font-family: Quicksand, helvetica;
}

h5{
    color: var(--couleur);
    font-size: 33pt;
    font-weight: 50;
    font-family: Quicksand, helvetica;

}

body{
    background-color: var(--background);
}

.card{
    background-color: var(--background);
    border-color: var(--backgroundCard);
    border: none;
}

.card div{
    border : 1px solid var(--couleur);
}

.bgPerso{
    color: var(--couleur);
    background-color: var(--backgroundCouleur);
}

#mode, #mode2{
    color: var(--couleur);
    visibility: visible;
}

button{
    visibility: hidden;
    color: var(--backgroundCard);
}
#rTop{
    height: 10vh;
    width: 100vw;
}

#rBas{
    height: 50vh;
    width: 100vw;
}

#rowSpacet{
    height:15vh;
    width: 100vw;
}

#rowSpaceb{
    height: 25vh;
    width: 100vw;
}
